*.jpg binary
*.png filter=lfs diff=lfs merge=lfs -text
*.meta binary
*.asset filter=lfs diff=lfs merge=lfs -text
*.unity binary
*.prefab binary
*.gz filter=lfs diff=lfs merge=lfs -text

# Unity WebGL build files
*.data filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.framework.js filter=lfs diff=lfs merge=lfs -text
